<div class="row">
    <div class="col-md-6">
        <% if (events.length) { %>
            <ul class="list-group" id="events">
                <% _.each(events, function (event) { %>
                    <li class="list-group-item" data-cid="<%= event.cid %>">
                        <%= event.get('title') %>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <% if (selected) { %>
        <div class="col-md-6">
            <b><%= selected.get('title') %></b>
            <p><%= selected.get('description') %></p>

            <% if (selected.get('instances')) { %>
                <table class="table">
                    <% _.each(selected.get('instances'), function (instance) { %>
                        <tr>
                            <td><%= instance.start %></td>
                            <td><%= instance.place.name %></td>
                            <td><%= instance.place.city.name %></td>
                        </tr>
                    <% }); %>
                </table>
            <% } %>
        </div>
    <% } %>
</div>

<% if (pagination.has_prev || pagination.has_next) { %>
    <div class="row" id="pagination">
        <div class="col-md-6">
            <ul class="pager">
                <% if (pagination.has_prev) { %>
                    <li class="previous">
                        <a href="#">&larr;&nbsp;Prev page</a>
                    </li>
                <% } %>
                <% if (pagination.has_next) { %>
                    <li class="next">
                        <a href="#">Next page&rarr;&nbsp;</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
<% } %>