{% load i18n staticfiles %}
<!DOCTYPE html5>
<html>
    <head>
        <title>{% trans "Affiche" %}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="categories">
                    {% trans "categories" %}
                </div>
            </div>
            <div class="row"
                <div class="col-md-9">
                    <div class="col-md-12" id="event-list"></div>
                </div>
            </div>
        </div>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
        
        <script src="{% static 'libs/require.js' %}"></script>
        <script>
            require.config({
                baseUrl: "{% static 'libs' %}",
                paths: {
                    'jquery': 'jquery-2.1.3',
                    'text': 'text',
                    'underscore': 'underscore',
                    'app': '../affiche',
                }
            });

            require(['backbone', 'app/app'], function (Backbone) {
                Backbone.history.start();
            });
        </script>
    </body>
</html>